  <footer class="global-footer" role="contentinfo">
    <p>&copy; Copyright 2012 Easyart. All rights reserved.</p>
  </footer>

<script type="text/javascript">
// Disqus comments
var disqus_shortname = 'easyartdevelopers';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());

// Google analytics
var _gaq=[['_setAccount','UA-204511-23'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>