  <footer class="global-footer" role="contentinfo">
    <p>&copy; Copyright 2012 Easyart. All rights reserved.</p>
  </footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/assets/js/app.js"></script>

<script type="text/javascript">
        var disqus_shortname = 'easyartdevelopers';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
        </script>

</body>
</html>