<div class="widget">
  <h3>Subscribe</h3>
  <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=EasyartDevelopers', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <fieldset>
      <label for="email">Sign up for email updates:</label>
      <div>
        <input type="email" name="email">
        <input type="hidden" value="EasyartDevelopers" name="uri">
        <input type="hidden" name="loc" value="en_US">
        <button type="submit">Subscribe</button>
      </div>
    </fieldset>
  </form>
  <p><a href="http://feeds.feedburner.com/EasyartDevelopers">or subscribe to the RSS feed</a></p>
</div>

<div class="widget">
  <h3>About this blog</h3>
  <p>This is the blog of the developers at <a href="http://www.kingandmcgaw.com" target="_blank">King & McGaw</a>. We have a strong focus on user-centered design, test-driven development and emerging technologies.</p>
  <p><a href="/archives.html">See all posts &raquo;</a></p>
</div>

<div class="widget">
  <h3>Recent posts</h3>
  <ol>
    {% for post in site.posts limit: 10 %}
    <li><a href="{{post.url}}">{{post.title}}</a></li>
    {% endfor %}
  </ol>
</div>
