{% include header.html %}

  <div class="content row">

    <section class="col-7">
      <div class="content-pri" role="main">

        <article class="hentry">
          <header>
            <h2>{{page.title}}</h2>
            <p class="updated">Posted on {{page.date | date: "%d %B %Y"}} by {{ page.author }}</p>
          </header>
          {{content}}
        </article>
      </div>    
    </section>

    <aside class="col-4 offset-1">
      <div class="content-sec" role="complementary">
        {% include sidebar.html %}
      </div>
    </aside>

  </div>

{% include footer.html %}