{% include header.html %}

  <div class="content row">

    <section class="col-7">
      <div class="content-pri" role="main">

        <article class="hentry">
          <header>
            <h2>{{page.title}}</h2>
            <p class="updated">Posted on {{page.date | date: "%d %B %Y"}} by {{ page.author }}</p>
          </header>
          {{content}}
        </article>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'easyartdevelopers';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

      </div>    
    </section>

    <aside class="col-4 offset-1">
      <div class="content-sec" role="complementary">
        
        <div class="widget">
          <h3>About this blog</h3>
          <p>This is the blog of the developers at Easyart. We have a strong focus on user-centered design, test-driven development and emerging technologies.</p>
        </div>

        <div class="widget">
          <h3>Recent posts</h3>
          <ol>
            {% for post in site.posts limit: 10 %}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
            {% endfor %}
          </ol>
        </div>

      </div>
    </aside>

  </div>

{% include footer.html %}