{% include header.html %}

  <div class="content row">

    <section class="col-7">
      <div class="content-pri" role="main">

        <article class="hentry">
          <header>
            <h2>{{page.title}}</h2>
            <p class="updated">Posted on {{page.date | date: "%d %B %Y"}}
              by
              {% if page.author contains "John Pash" %}<a href="/authors/john-pash/">{{page.author}}</a>
              {% elsif page.author contains "Nick Boyce" %}<a href="/authors/nick-boyce/">{{page.author}}</a>. Find me on <a href="https://plus.google.com/u/1/108806228703128779712?rel=author">Google+</a>
              {% elsif page.author contains "Steve Rydz" %}<a href="/authors/steve-rydz/">{{page.author}}</a>
              {% endif %}
            </p>
          </header>
          {{content}}
        </article>
        <div id="disqus_thread"></div>
        <script>
          var disqus_shortname = 'easyartdevelopers';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </section>

    <aside class="col-4 offset-1">
      <div class="content-sec" role="complementary">
        {% include sidebar.html %}
      </div>
    </aside>

  </div>

{% include footer.html %}
